{% extends 'baseAdmin.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Tematicas{% endblock %}

{% block content %}
<div class="container px-4 py-4">
    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
            <h2>Nueva Tematica</h2>
            <div class="card">
                <div class="card-body">
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% if error_vr %}
                            <div class="alert alert-danger">
                                {{ error_vr }}
                            </div>
                        {% endif %}
                        {{ form|crispy }}
                        <button type="submit" class="btn btn-primary">Registrar</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-8 col-xl-8">
            <h2>Tematicas</h2>
            <div class="table-responsive py-2">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Nombre</th>
                            <th>Imagen</th>
                            <th colspan="3">Options</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for theme in themes %}
                        <tr>
                            <td>{{ theme.id }}</td>
                            <td>{{ theme.name }}</td>
                            <td><img src="{{ theme.images.url}}" alt="connect" class="img-fluid img-thumbnail"  style="max-height:50px"> </td>
                            <td><a href="{% url 'AdminThemesInfo' theme.id %}" class="btn btn-info">Detalles</a></td>
                            <td><a href="{% url 'AdminThemesEdit' theme.id %}" class="btn btn-warning">Editar</a></td>
                            <td><a href="{% url 'AdminThemesDelete' theme.id %}" class="btn btn-danger btnEliminacion">Eliminar</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}