{% extends 'baseAdmin.html' %}
{% load static %}{% load crispy_forms_tags %}

{% block title %}Ubicaciones{% endblock %}

{% block content %}
<div class="row">
    <nav aria-label="breadcrumb" class="ml-3">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'AdminIndex' %}">Tablero</a></li>
          <li class="breadcrumb-item active" aria-current="page">Ubicaciones</li>
        </ol>
    </nav>
</div>
<div class="row">
    <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h2>Nueva Ubicacion</h2>
            </div>
            <div class="card-body">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form_locations|crispy }}
                    <label for="open-hours"><h6><strong>Horario</strong></h6></label>
                    <div class="scrollview-wrapper-x mb-3" id="open-hours">
                        {{ form_hours.management_form }}
                        {% for form in form_hours %}
                        <div class="scrollview-item">
                            {{ form|crispy }}
                        </div>
                        {% endfor %}
                    </div>
                    <button type="submit" class="btn btn-primary">
                        Registrar
                    </button>
                </form>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-8 col-xl-8">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h2>Ubicaciones</h2>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-hover" cellspacing="0">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Nombre</th>
                                <th>Imagen</th>
                                <th colspan="3">Opciones</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>ID</th>
                                <th>Nombre</th>
                                <th>Imagen</th>
                                <th colspan="3">Opciones</th>
                            </tr>
                        </tfoot>
                        <tbody>
                            {% for location in locations %}
                                <tr>
                                    <td>{{ location.id }}</td>
                                    <td>{{ location.name }}</td>
                                    <td><img src="{{ location.images.url }}" class="img-fluid img-thumbnail img-sm" alt="{{ location.images }}"></td>
                                    <td><a href="{% url 'AdminLocationsInfo' location.id %}" class="btn btn-circle btn-info"><i class="fas fa-info-circle"></i></a></td>
                                    <td><a href="{% url 'AdminLocationsEdit' location.id %}" class="btn btn-circle btn-warning"><i class="fa-solid fa-pen-to-square"></i></a></td>
                                    <td>
                                        <a class="btn btn-circle btn-danger" data-toggle="modal" data-target="#alertModal{{ location.id }}"><i class="fas fa-trash"></i></a>
                                        <div class="modal fade" id="alertModal{{ location.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="exampleModalLabel">¿Eliminar {{ location.name }}?</h5>
                                                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">×</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        Esta acción es irreversible y borrará toda la información asociada al registro. Para confirmar, haz clic en el botón "Eliminar". Para cancelar la acción, haz clic en el botón "Cancelar".
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button class="btn btn-secondary" type="button" data-dismiss="modal">
                                                            Cancelar
                                                        </button>
                                                        <a class="btn btn-danger" href="{% url 'AdminLocationsDelete' location.id %}">Eliminar</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}