{% extends 'baseAdmin.html' %}
{% load static %}

{% block title %}Inicio{% endblock %}

{% block content %}
<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h1 class="h3 mb-0 text-gray-800">Tablero</h1>
  <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
    <i class="fas fa-download fa-sm text-white-50"></i>
    Generar Reporte
  </a>
</div>
<div class="row">
  <!-- Earnings (Monthly) Card Example -->
  <div class="col-xl-3 col-md-6 mb-4">
    <div class="card border-left-primary shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
              Earnings (Monthly)
            </div>
            <div class="h5 mb-0 font-weight-bold text-gray-800">
              {{ location.count }}
            </div>
          </div>
          <div class="col-auto">
            <i class="fas fa-calendar fa-2x text-gray-300"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Earnings (Monthly) Card Example -->
  <div class="col-xl-3 col-md-6 mb-4">
    <div class="card border-left-success shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
              Earnings (Annual)
            </div>
            <div class="h5 mb-0 font-weight-bold text-gray-800">
              $215,000
            </div>
          </div>
          <div class="col-auto">
            <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Earnings (Monthly) Card Example -->
  <div class="col-xl-3 col-md-6 mb-4">
    <div class="card border-left-info shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
              Tasks
            </div>
            <div class="row no-gutters align-items-center">
              <div class="col-auto">
                <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">
                  50%
                </div>
              </div>
              <div class="col">
                <div class="progress progress-sm mr-2">
                  <div class="progress-bar bg-info" role="progressbar" style="width: 50%" aria-valuenow="50"
                    aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-auto">
            <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Pending Requests Card Example -->
  <div class="col-xl-3 col-md-6 mb-4">
    <div class="card border-left-warning shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
              Pending Requests
            </div>
            <div class="h5 mb-0 font-weight-bold text-gray-800">
              18
            </div>
          </div>
          <div class="col-auto">
            <i class="fas fa-comments fa-2x text-gray-300"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- <section class="container p-4">
  <div class="row">
    <h1>Welcome {{ user.username }}</h1>
</div>
<div class="row p-2">
    <div class="col">
        <div class="card text-bg-blue">
            <div class="card-body">
                <small class="card-title"><b>Cotizaciones:</b></small> <i class="bi bi-info-circle-fill"></i>
                <h4 class="card-text"><b>{{ location.all.count }}</b></h4>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card text-bg-purple">
            <div class="card-body">
              <small class="card-title"><b>Cotizaciones:</b></small> <i class="bi bi-info-circle-fill"></i>
              <h4 class="card-text"><b>{{ location.all.count }}</b></h4>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card text-bg-orange">
            <div class="card-body">
              <small class="card-title"><b>Cotizaciones:</b></small> <i class="bi bi-info-circle-fill"></i>
              <h4 class="card-text"><b>{{ location.all.count }}</b></h4>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card text-bg-red">
            <div class="card-body">
              <small class="card-title"><b>Cotizaciones</b></small> <i class="bi bi-info-circle-fill"></i>
              <h4 class="card-text"><b>{{ location.all.count }}</b></h4>
            </div>
        </div>
    </div>
</div>
<div class="row p-2">
    <div class="col">
      <div class="d-flex flex-column">
        <a class="d-flex align-items-center flex-shrink-0 p-3 link-body-emphasis text-decoration-none border-bottom">
          <span class="fs-5 fw-semibold">Cotizaciones Recientes</span>
        </a>
        <div class="list-group list-group-flush border-bottom scrollarea">
          {% for message in messages %}
          <a href="{% url 'messageInfo' message.id %}" class="list-group-item list-group-item-action py-3 lh-sm" aria-current="true">
            <div class="d-flex w-100 align-items-center justify-content-between">
              <strong class="mb-1">{{ message.name }}</strong>
              <small>{{ message.date }}</small>
            </div>
            <div class="col-10 mb-1 small">{{ message.message }}</div>
          </a>
          {% endfor %}
        </div>
      </div>
    </div>
    <div class="col">
        <div class="d-flex flex-column">
            <a class="d-flex align-items-center flex-shrink-0 p-3 link-body-emphasis text-decoration-none border-bottom">
              <span class="fs-5 fw-semibold">Mensajes Recientes</span>
            </a>
            <div class="list-group list-group-flush border-bottom scrollarea">
              {% for message in messages %}
              <a href="{% url 'messageInfo' message.id %}" class="list-group-item list-group-item-action py-3 lh-sm" aria-current="true">
                <div class="d-flex w-100 align-items-center justify-content-between">
                  <strong class="mb-1">{{ message.name }}</strong>
                  <small>{{ message.date }}</small>
                </div>
                <div class="col-10 mb-1 small">{{ message.message }}</div>
              </a>
              {% endfor %}
            </div>
          </div>
    </div>
</div>
</section> -->
{% endblock %}