<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar sesion</title>
</head>
<body>
    <div>
        <h1>Iniciar secion</h1>
        <form method="post">
            {% csrf_token %}
            <label for="username">
                Usuario
                <input id="username" name="username" type="username">
            </label>
            <br>
            <label for="password">
                Contraseña
                <input id="password" name="password" type="password">
            </label>
            <br>
            <p>¿Olvidaste tu contraseña? <a href="{% url 'password_reset' %}">Restablecer contraseña</a></p>
            <button type="submit">Ingresar</button>
        </form>
    </div>
</body>
</html>