{% extends 'baseAdmin.html' %}
{% load static %}

{% block title %}Cotizaciones{% endblock %}

{% block content %}
<div class="row">
  <nav aria-label="breadcrumb" class="ml-3">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'AdminIndex' %}">Tablero</a></li>
      <li class="breadcrumb-item active" aria-current="page">Cotizaciones</li>
    </ol>
  </nav>
</div>
<div class="row">
  <div class="col-sm-12 col-md-6 col-lg-8 col-xl-8">
    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <h2>Cotizaciones</h2>
        <h5>Bandeja de Entrada</h5>
      </div>
      <div class="container p-3">
        <div class="card mb-3">
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Ubicacion</th>
                    <th>Fecha</th>
                    <th colspan="2">Opciones</th>
                  </tr>
                </thead>
                <tfoot>
                  <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Ubicacion</th>
                    <th>Fecha</th>
                    <th colspan="2">Opciones</th>
                  </tr>
                </tfoot>
                <tbody>
                  <tr class="border-left-info">
                    <td>1</td>
                    <td>Juan Manuel</td>
                    <td>El rancho</td>
                    <td>23/04/2023</td>
                    <td><a href="#" class="btn btn-info"><i class="fa-solid fa-circle-info"></i></a></td>
                    <td><a href="#" class="btn btn-danger"><i class="fa-solid fa-trash"></i></a></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <h2>Cotizaciones Rapidas</h2>
        <h5>Bandeja de Entrada</h5>
      </div>
      <div class="container p-3">
        <div class="card mb-3 border-left-info">
          <a href="#" class="hover text-decoration-none text-gray-600">
            <div class="row g-0 justify-content-between">
              <div class="col">
                <div class="card-body">
                  <h5 class="card-title mb-0">Prueba</h5>
                  <p class="card-text mt-0">Mas Prueba</p>
                  <p class="card-text"><small>prueba extrema</small></p>
                </div>
              </div>
              <div class="col-sm-12 col-md-6 col-lg-3 col-xl-3 d-flex align-items-center justify-content-center">
                <p class="card-text text-center"><small>fecha</small></p>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}